* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: DFkai-sb;
  font-size: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header div.top {
  padding: 1rem;
  background-image: url(./images/background.png);
}

header div.top h1 {
  font-size: 3rem;
}

header div.top h3 {
  font-size: 1rem;
}

header nav {
  background-color: black;
}

header nav ul {
  display: flex;
  list-style: none;
  list-style-type: none;
}
header nav ul li {
  padding: 0.8rem 1.5rem;
}

header nav ul li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.3rem;
}

header nav ul li a:hover {
  color: yellow;
  text-decoration: none;
  font-size: 1.5 rem;
  transition: all 0.2 ease-in-out;
}

a.active {
  color: yellow;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
main.no-flex {
  display: block;
}

main section.left {
  flex: 2 1 200px;
}
main section.left h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

main section.left img {
  width: 90%;
}

main section.left table {
  margin-top: 1rem;
  padding: 0.25rem;
}
main section.left td {
  padding: 0.25rem;
  font-size: 20px;
}
main section.right {
  flex: 7 1 500px;
}

main section.right h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

main section.right hr {
  margin: 0.8rem 0rem;
}
p {
  padding: 0.5rem 0rem;
}
main section.japan-top {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
main section.japan-top figure {
  display: flex;
  align-items: center;
  flex: 1 1 300px;
}
main section.japan-top figure img {
  width: 100%;
}

main section.japan-top div.japan-info {
  flex: 3 1 600px;
  padding: 1.5rem;
}
main section.japan-top div.japan-info p {
  font-size: 1.2rem;
}

main section.japan-top div.japan-info ul {
  padding-left: 1.5rem;
  font-size: 1.2rem;
}

main section.japan-top div.japan-info ul li {
  font-size: 1.2rem;
}
div.competition {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
div.competition div.text {
  flex: 6 1 600px;
}
#piechart_3d {
  flex: 1 1 300px;
}

div.competition div.text h3 {
  font-size: 2rem;
  color: rgb(55, 210, 70);
}
div.competition div.text p {
  font-size: 1.2rem;
}

div.competition div.text ul {
  padding-left: 1.5rem;
  font-size: 1.2rem;
}

div.competition div.text ul li {
  font-size: 1.2rem;
}

@media screen and (max-width: 700px) {
  header nav ul {
    flex-direction: column;
  }
}
.player {
  margin: 2rem;
  border: 4px solid burlywood;
  padding: 0.5rem;
}

.player h4 {
  font-size: 1.5rem;
  color: cornflowerblue;
}

.player h5 {
  font-size: 1.2rem;
  color: darkkhaki;
}
